<div class="min-h-screen">
    <div class="cover">

        <div class="box px-6 py-9 rounded-3xl max-w-xl mx-auto">
            <div class="border-3 border-primary-50 rounded-full w-fit mx-auto bg-primary-70/10">
              <%= image_tag "sample/key_icon.png", class: "w-26 h-26" %>
            </div>
            <div class="text-center text-black font-mincho py-2">
                <h2 class="text-2xl">パスワードをお忘れですか？</h2>
                <p class="text-xs pt-2">ご登録のメールアドレスを入力してください。</p>
            </div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="text-field pb-6">
                <p><%= f.label :email %></p>
                <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
            </div>

            <div
                class="actions items-center justify-center w-full px-6 py-3 font-bold text-center text-slate-700 transition-all duration-200 bg-white border-2 border-slate-200 rounded-xl hover:bg-primary-500 hover:text-white hover:border-primary-500 cursor-pointer">
                <%= f.submit "再設定メールを送信する" %>
            </div>
            <% end %>

            <div class="text-center pt-6">
                <%= link_to new_user_session_path, class: 'text-black hover:text-primary-100 duration-300' do %>
                <span>パスワード思い出した方はこちらからログイン</span>
                <% end %>
            </div>
        </div>
    </div>
</div>
